<div class="scroll-cards">
    <!-- Cards content here -->
    <div class="card">
      <div class="mails">
        <img src="https://randomuser.me/api/portraits/men/20.jpg" alt="fd" />
        <div class="mail-names">
          Louis Adkins
        </div>

      </div>
      <div class="mail-info">
        How To Write Better Advertising Copy Heading
      </div>
      <div>
      </div>
      <div class="bottom-info">
        <div class="check1">
          <label class="checkbox">
    <input type="checkbox"/>
    </label>
          <div class="star">
            <img src="https://i.ibb.co/SN5SJ8x/star.png" alt="icon" />
          </div>
          <div class="star">
            <img src="https://i.ibb.co/FW9tsHK/attachment.png" alt="icon" />
          </div>

        </div>
        <div class="date">8:30 AM</div>
      </div>
    </div>
    <div class="card">
      <div class="mails">
        <span class="person border1"> C</span>
        <div class="mail-names">
          Clarence Hogan
        </div>

      </div>
      <div class="mail-info">
        How To Write Better Advertising

      </div>
      <div>
      </div>
      <div class="bottom-info">
        <div class="check1">
          <label class="checkbox">
    <input type="checkbox"/>
    </label>
          <div class="star">
            <img src="https://i.ibb.co/SN5SJ8x/star.png" alt="icon" />
          </div>
          <div class="star">
            <img src="https://i.ibb.co/FW9tsHK/attachment.png" alt="icon" />
          </div>

        </div>
        <div class="date">8:30 AM</div>
      </div>
    </div>
    <div class="card">
      <div class="mails">
        <span class="person border2">O</span>
        <div class="mail-names">
          Olga Boone
        </div>

      </div>
      <div class="mail-info">
        Old Fashioned Recipe
      </div>
      <div>
      </div>
      <div class="bottom-info">
        <div class="check1">
          <label class="checkbox">
    <input type="checkbox"/>
    </label>
          <div class="star">
            <img src="https://i.ibb.co/SN5SJ8x/star.png" alt="icon" />
          </div>
          <div class="star">
            <img src="https://i.ibb.co/FW9tsHK/attachment.png" alt="icon" />
          </div>

        </div>
        <div class="date">8:30 AM</div>
      </div>
    </div>
    <div class="card">
      <div class="mails">
        <span class="person border3">H</span>
        <div class="mail-names">
          Harry Burton
        </div>

      </div>
      <div class="mail-info">
        How To Write Better Advertising Copy Heading
      </div>
      <div>
      </div>
      <div class="bottom-info">
        <div class="check1">
          <label class="checkbox">
    <input type="checkbox"/>
    </label>
          <div class="star">
            <img src="https://i.ibb.co/SN5SJ8x/star.png" alt="icon" />
          </div>
          <div class="star">
            <img src="https://i.ibb.co/FW9tsHK/attachment.png" alt="icon" />
          </div>

        </div>
        <div class="date">8:30 AM</div>
      </div>

    </div>
  </div>