<div class="right-header">
  <div class="top-bar">
    <div class="top-bar-justify">
      <div class="big-inbox">
        Inbox
      </div>

      <div class="top-bar-items">
        <div class="notif">
          <div class="online pink">
          </div>
          <img src="{{ url_for('static', filename='images/notifications-button.png') }}" alt="Notifications Icon" />
        </div>
        <img src="{{ url_for('static', filename='images/envelope.png') }}" alt="Envelope Icon" />
        <img src="{{ url_for('static', filename='images/earth-globe.png') }}" alt="Globe Icon" />
        <div class="icon-name5"> English </div>
      </div>
    </div>
    <div class="profile2">
      <img src="{{ url_for('static', filename='images/ui.jpg') }}" alt="Profile Icon" />
      <div class="icon-name5">Larry Nunez</div>
    </div>
  </div>
  <hr class="new-hr">
  <div class="right-bottom">
    <div class="check">
      <label class="checkbox">
        
      </label>
      <div class="down-arrow">
        <img src="{{ url_for('static', filename='images/drop-down-arrow.png') }}" alt="Dropdown Arrow" />
      </div>
    </div>
    <div class="middle-buttons">
      <div class="buttons">
        <button class="new button">
          <img src="{{ url_for('static', filename='images/reload.png') }}" alt="Reload Icon" />
        </button>
        <button class="new button">
          <img src="{{ url_for('static', filename='images/eye.png') }}" alt="Eye Icon" />
        </button>
        <button class="new button">
          <img src="{{ url_for('static', filename='images/waste-bin.png') }}" alt="Waste Bin Icon" />
        </button>
      </div>
      <div class="form has-search">
        <input class="text" type="search" placeholder="Search here..." name="search" />
        <span class="searchIcon">
          <img src="{{ url_for('static', filename='images/search.png') }}" alt="Search Icon" />
        </span>
      </div>
    </div>
    <div class="search-arrow">
      <img src="{{ url_for('static', filename='images/scroll-arrows.png') }}" alt="Scroll Arrows" />
    </div>
  </div>
</div>