{% extends 'base.html' %}
{% block title %}Edit Data{% endblock %}
{% block content %}
<div class="message">
    <h2 class="message_header">Create Data</h2>
    <form action="{{ url_for('create_data') }}" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="text">Text</label>
        <input type="text" id="text" name="text" required><br>

        <label for="images">Images (comma-separated):</label>
        <input type="text" id="images" name="images" required><br>

        <button type="submit" class="compose">
            <span class="plus">
                <img src="{{ url_for('static', filename='images/add-1.png') }}" alt="Add Icon" />
            </span>
            Save
        </button>
    </form>
</div>



{% endblock %}