<div class="left">
    <div class="sidebar">
        <div class="wrapper">
            <div class="menu">
                <img src="{{ url_for('static', filename='images/menu.png') }}" alt="Menu Icon" />
            </div>
            <div class="items">
                {% for icon in icons %}
                <img src="{{ url_for('static', filename='images/' + icon.filename) }}" alt="{{ icon.alt }}" />
                {% endfor %}
            </div>
            <div class="profile">
                <img src="{{ url_for('static', filename='images/ui.jpg') }}" alt="Profile Icon" />
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="wrapper2">
            <div class="abilan">
                <img src="{{ url_for('static', filename='brand_logo.png') }}" alt="Abilan Icon" />
            </div>
            <button class="compose">{{ compose_text }}
                <span class="plus">
                    <img src="{{ url_for('static', filename='images/add-1.png') }}" alt="Add Icon" />
                </span>
                Tweet Deck
            </button>
            <div class="folders">{{ folders_text }}</div>
            {% for key, folder in folders.items() %}
            <a href="{{ folder.url }}" class="folder-icons" title="side-link">
                <div class="icon1">
                    <img src="{{ url_for('static', filename='images/' + folder.icon) }}" alt="{{ folder.alt }}" />
                </div>
                <div class="icon-name1">{{ folder.name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>